*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    background-color: rgb(11, 11, 11);
    scroll-behavior: smooth;
    overflow: scroll;
}

/* NAVIGATION BAR */
nav{
    background: linear-gradient(
        180deg, 
        black, 
        rgb(50, 50, 50) 250%
    );
    top: 0;
    width: 100%;
    height: 65px;
    position: fixed;
    z-index: 1;
}
body nav a:not(.icon){
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 23px;
    float: right;
}

body nav a:not(.icon):hover{
    color: black;
    background: linear-gradient(
        180deg, 
        rgb(220, 220, 220), 
        rgb(255, 255, 255)
    );
    text-decoration: none;
    padding: 23px;
}

body nav img{
    height: 45px;
    margin-top:10px;
    margin-left: 30px;
}

/* HEADER/HERO */
.hero{
    margin-top: 65px;
    padding: 0;
    width: 100%;
    height: calc(100vh - 65px);
    display: flex;
    flex-direction: column;
    /* background */
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://media.giphy.com/media/j8YiZa4RDxlXE4lwsP/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
}


.hero-text h1{
    margin: 2em 0 0 160px;
    font-size: 5vw;
    width: 55vw;
    position: absolute;
}

.hero-text p{
    margin: 28em 0 0 160px;
    font-size: 1vw;
    width: 60vw;
}


.hero span{
    color: rgb(255, 76, 76);
    font-style: oblique;
    animation: fade-in-out 3s;
    animation-iteration-count: infinite;
}


/* BODY AND CONTENT */
main{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

article{
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(/assets/bg2.jpeg);
    background-repeat: repeat-x;
    background-position: center;
    background-size: 100%;
}

figure{
    margin: auto;
    padding: 15px;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px rgb(96, 96, 96);
    border-radius: 2%;
    transition: width 0.5s, height 0.5s;
    overflow: hidden;
    background-color: black;
}

figure:hover {
    width: 450px;
    height: 337.5px;

}

figure img{
    margin: auto;
    width: 300px;
    height: 169px;
    margin-top: 25px;
    transition: width 0.5s, height 0.5s;
}

figure img:hover{
    width: 330px;
    height: 186px;
}

figure figcaption{
    margin: auto;
    width: 300px;
    overflow:hidden;
    font-size: 0.8rem;
    text-align: justify;
    color: rgb(222, 222, 222);
}

article a{
    text-decoration: none;
}

    /* forms */

.register{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.9)), url(/assets/abstract-background-with-red-lines.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.register fieldset{
    margin: auto;
    padding: 25px;
    width :500px;
    height: 350px;
    border-radius: 5%;
}

form fieldset input,select,option{
    margin-top: 20px;
    height: 1.2rem;
    color: black;
}

form fieldset span{
    color: rgb(253, 82, 82);
    font-style: italic;
}


button{
    margin: auto;
    padding: 15px;
    width: 250px;
    height: 35px;
    background-color: transparent;
    color: whitesmoke;
    font-style: oblique;
    border: solid;
    border-color: white;
    border-radius: 5%;
}

button:hover{
    color: white;
    background-color: rgb(110, 14, 14);
    cursor: pointer;
    font-weight: bold;
}


    /* header */

.content-header{
    margin: auto;
    font-style: italic;
}

.register-header{
    margin-top: 100px;
    font-style: italic;
}

/* FOOTER */
footer{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer span{
    color: rgb(187, 0, 0);
    font-weight: 500;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

/* RESPONSIVE MEDIA QUERIES */

@media only screen and (max-width: 1100px){
    article{
        margin: auto;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    figure{
        margin: 10px;
    }

    .hero h1{
        font-size: 64px;
    }

    .hero p{
        margin-top: 360px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 768px){
    .hero h1{
        font-size: 2em;
        margin-top: 80px;
        margin-left: 10px;
    }
    .hero p{
        font-size: 0.8em;
        margin-left: 10px;
        margin-top: 150px;
    }

    article{
        margin: auto;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-repeat: repeat-y;
    }

    figure{
        margin: 10px;
    }
}

@media only screen and (max-width: 600px){
    .hero h1{
        font-size: 2em;
        margin-top: 80px;
        margin-left: 10px;
    }
    .hero p{
        font-size: 0.8em;
        margin-left: 10px;
    }

    
}


/* ANIMATION */

@keyframes fade-in-out {
    0% {opacity: 0;}
    50%{ opacity: 1;}
    100% {opacity: 0;}
}


